body{
	background: #f06226;
	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}

#container{
	width: 60%;
	background: blue;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
}

header{
	text-align: center;
	border-bottom: #fff dashed 1px;
}

header h1{
	margin: 0px;
	padding: 0px;
}
header p{
	padding: 0px;
	margin-top: 5px;
	color: #f06226;
}

section{
	min-height: 400px;
}

footer{
	text-align: center;
}

#results h3{
	background: #f06226;
	padding: 10px;
	margin: 10px;
}

#results span{
	color: #000;
	font-weight: bold;
}